<h2> You chose: <%= @instructor.name %> </h2>
<h3> Specialty: <%= "#{@instructor.specialty}" %> </h3>
<h3> Associated Gym: <%= "#{@instructor.gym}" %> </h3>

<br><%= link_to "When is this class held?", trainings_path %></br>
<%= link_to "Back to All Instructors", instructors_path %>
