<h1> Welcome to Gymtime! </h1>
<h3> Are you ready to find the perfect fitness instructor?</h3>

<% if user_signed_in? %>
<div> <h2> Available Training Specialties: </h2>
  <ul>
    <li><%= "Strength" %></li>
    <li><%= "Yoga" %></li>
    <li><%= "Cardio" %></li>
    <li><%= "Spin" %></li>
    <li><%= "Pilates" %></li>
    <li><%= "Barre" %></li>
  </ul>
</div>
<% end %>

<% if user_signed_in? %>
  <p><%= link_to "View All Instructors", instructors_path %></p
<% end %>

<% if user_signed_in? && current_user.admin %>
  <p><%= link_to "View Current Users", users_path %></p>
<% end %>
